/* src/App.css */
.nav {
  background-color: rgb(84, 84, 84);
  color: white;
  padding: 10px;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: #FF6B6B; /* Change the color when hovering */
}
